@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
}
*,*::before,*::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    color: gray ;
}

.container {
    width: 100%;
    height: 100vh;
}

/* navigation bar */

.mynav {
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid lightgray;
}

.nav-items {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

/* nav bar logo */
.nav-logo {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
}

.nav-items .nav-logo img {
    width: 50px;
    height: 50px;
    margin: auto 15px;
}

.nav-items .nav-logo a {
    text-decoration: none;
    color: gray;
    margin: auto -5px;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
}

/* search bar */
.search-bar-container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 100%;
    height: 70%;
    background-color: rgb(241,243,244);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    position: relative;
    width: 90%;
    height: 80%;
    font-size: 1em;
    border: none;
    background-color: transparent;
}

.search-bar input:hover,input:focus {
    outline: none;
}

.search-bar span::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 600; 
    content: "\f002 \2001";
    font-size: 1.3em;
    color: gray; 
    padding-left: 20px;
}

/* navigation links */

.nav-links {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.nav-links a {
    text-decoration: none;
    color: gray;
    padding: 0 15px;
    margin: auto 0;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
}

/* footer */
.footer {
    width: 100%;
    height: 10vh;
    background-color: black;
    text-align: center;
}

.footer p {
    color: white;
    letter-spacing: 1px;
    font-size: 0.8em;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    margin: 18px auto;
}

/* main */
.main {
    width: 100%;
    position: relative;
    display: flex;
}

.col-1 {
    width: 20%;
    height: 90vh;
}

.col-2 {
    width: 80%;
    height: 90vh;
    transition: all ease-in-out 500ms;
}
 /* main left navigation */
.col-1 .row-1 {
    position: relative;
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
}

.col-1 .row-1 p {
    display: block;
    padding: 8px 0;
    padding-left: 30px;
    font-size: 18px;
    cursor: pointer;
}
.col-1 .row-1 p:hover {
    background-color: rgba(232,240,254,0.6);
    border-radius: 0 50px 50px 0;
}

.m-10 {
    margin-top: 10px;
}
.col-1 .row-1 .row-links-1 p::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0a0 \0020 \2001";
}

.col-1 .row-1 .row-links-2 p::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f65e \0020 \2001";
}
.col-1 .row-1 .row-links-3 p::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f574 \0020 \2001";
}
.col-1 .row-1 .row-links-4 p::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f093 \0020 \2001";
}

.active {
    background-color: rgb(232,240,254);
    color: blue;
    font-weight: bold;
    border-radius: 0 50px 50px 0;
}

.col-1 .row-2 {
    position: relative;
    width: 90%;
    height: 40vh;
}
.col-1 .row-2 .row-links-5 p::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f1c0 \0020 \2001";
}

.col-1 .row-2 p {
    display: block;
    padding: 8px 0;
    padding-left: 30px;
    font-size: 18px;
    cursor: pointer;
}
.col-1 .row-2 p:hover {
    background-color: rgba(232,240,254,0.6);
    border-radius: 0 50px 50px 0;
}

.col-1 .row-2 .bar-container {
    width: 80%;
    height: 5px;
    background-color: lightgray;
    border-radius: 10px;
    margin: 15px auto;
}

.bar-container .bar {
    width: 50%;
    height: 5px;
    background-color: blue;
    border-radius: 10px;
}

#space {
    font-size: 12px;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 41,.7);
    margin-top: -15px;
}

.col-1 .row-2 .btn-container {
    margin: 20px auto;
    text-align: center;
}

.col-1 .row-2 .btn {
    cursor: pointer;
    background-color: transparent;
    color: blue;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 255, .4);
    box-shadow: 0px 0px 5px rgba(0, 0, 255, .6);
    transition: all linear 100ms;
}

.col-1 .row-2 .btn:hover {
    background-color: rgba(0, 0, 255,.8);
    color: white;
    font-weight: bold;
    padding: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 255,1);
}

.new-folder-popup {
    position: absolute;
    background-color: white;
    top: 30%;
    right: 50%;
    left: 40%;
    bottom: 50%;
    width: 0px;
    height: 170px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #000;
    opacity: 0;
    transition: width linear 1s;
    z-index: 2;
}

.popup-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.popup-p-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 20px 20px;
}

.popup-p-btn p {
    font-size: 1.3em;
    font-weight: 300;
}

.popup-p-btn i {
    cursor: pointer;
}

.popup-text {
    position: relative;
    text-align: center;
    margin: 20px auto 10px auto;
    height: fit-content;
}
.popup-text input{
   padding: 7px;
}
.popup-btn {
    position: relative;
    text-align: right;
    margin-right: 40px;
    margin-top: 15px;
}

.popup-btn button {
    margin: 0 3px;
    padding: 10px 20px 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9em;
    cursor: pointer;
}

.popup-btn button:hover {
    box-shadow: 0px 0px 7px #000;
}

.popup-btn #cancel-btn {
    background-color: transparent;
    color: black;
    font-weight: 300;
}


/* My drive Content */

.col-2 .row-1-nav {
    width: 100%;
    height: 6vh;
    margin: 10px 0;
}

.col-2 .row-1-nav ul {
    display: flex;
}
.col-2 .row-1-nav ul li {
    padding: 5px;
    list-style: none;
}

.row-1-nav ul li a {
    text-decoration: none;
    color: rgb(38, 36, 68);
    font-weight: 600;
    font-size: 1.3em;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
}

.row-1-nav hr {
    opacity: .3;
    margin-top: 5px;
}

/* Folder section */
.row-2-content {
    width: 100%;
    height: 80vh;
    overflow: auto;
    overflow-x: hidden;
}

.row-2-content::-webkit-scrollbar {
    width: 5px;
}

.row-2-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-image: linear-gradient(#9CC3D5FF,#9CC3D5FF);
}
.row-2-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(#0063B2FF,#0063B2FF);
}

.row-2-content .folder {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
}

.wrappers {
    display: flex;
    flex-wrap: wrap;
}

.folder p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: rgb(41, 40, 40);
    font-size: .9em;
    padding: 10px;
}

.folder .folder-box {
    width: 250px;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 5px;
    margin: 20px 0 0 10px;
    display: block;
    
}

.folder-box p {
    color: rgb(41, 40, 40);
    font-size: .9em;
    padding: 12px;
    padding-left: 20px;
    align-items: center;
}

.folder-box p::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f07b \2000";
    font-size: 1.3em;
    color: gray;
}

/* File section */


.row-2-content .file {
    width: 100%;
    height: fit-content;
    margin: 20px 0;
}

.file p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: rgb(41, 40, 40);
    font-size: .9em;
    padding: 10px;
}

.file .file-box {
    width: 250px;
    height: 200px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    border-radius: 5px;
    margin: 20px 0 0 10px;
    
}

.file-box .file-img img {
    width: 250px;
    height: 150px;
    object-fit: cover;
   
}

.file-box .file-name {
    width: 250px;
    height: 50px;
}

.file-name p {
    color: rgb(41, 40, 40);
    font-size: .9em;
    padding: 12px;
    padding-left: 20px;
    align-items: center;
}

.file-name p::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f07b \2000";
    font-size: 1.3em;
    color: gray;
}
 

/* bottom space */
.space {
    width: 100%;
    height: 4vh;
}

  /* Storage part section */

.col-3{
    width: 80%;
    height: 90vh;
    display: none;
    opacity: 0;
    transition: all ease-in-out 500ms;
}



.col-3 .row-1-nav {
    width: 100%;
    height: 5vh;
    margin: 10px 0;
    /* position: fixed;
    display: block;
    background-color: white; */
}

.col-3 .row-1-nav ul {
    display: flex;
    justify-content: space-between;
     margin: 0 50px 0 0;
}
.col-3 .row-1-nav ul li {
    padding: 5px;
    list-style: none;
    
}

.row-1-nav ul li a {
    text-decoration: none;
    color: rgb(38, 36, 68);
    font-weight: 600;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
}

#backup-icon ::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\2000 \f05a ";
    color: gray;
}

#storage-icon-down ::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\2000 \f063 ";
    color: gray; 
}

#storage-icon-up ::after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\2000 \f062 ";
    color: gray; 
}

.row-1-nav hr {
    opacity: .3;
    margin-top: 5px;
}

/* storage content */
.storage-content {
    width: 100%;
    height: 80vh;
    overflow: auto;
    overflow-x: hidden;
}

.storage-content::-webkit-scrollbar {
    width: 5px;
}

.storage-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-image: linear-gradient(#9CC3D5FF,#9CC3D5FF);
}
.storage-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(#0063B2FF,#0063B2FF);
}


.storage-content .contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.contents p {
    margin: 10px 90px 10px 10px;
}

#type-icon::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f1c1 \2000";
    color: gray; 
}